 #title {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  background: -webkit-linear-gradient(black,blue
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main,body {
  background-image: linear-gradient(to right, white, black);
}